body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* cards */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.card img {
    width: 100%;
    height: auto;
}

/* galeria */
.image-gallery {
    display: flex;
    flex-wrap: wrap;
}

.image-gallery img {
    width: calc(25% - 10px);
    margin: 5px;
}
